@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');


@media only screen and (min-width: 1065px) and (max-width: 1281px) {

.home {
        background-image: url('../home/bg2.jpg');
        height: 550px;
        background-position: center;
        background-size: cover;
    }    

/* styling home text */
.home-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.odosmarkettext {
    color: white;
    display: none;
}

.odosmarkettext-header {
    font-size: 40px !important;
    font-weight: 700;
}

.viewstoretext {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-top: 180px;
    width: 30%;
}

.viewstoretext-p {
    font-size: 34px;
    /* width: 100%; */
    padding-bottom: 25px;
    line-height: 50px;
}

.viewbutton a > button {
    padding: 8px 15px;
    border-radius: none;
    background-color: #B08A7B;
    font-size: 17px;
}
/* end of home text */

/* styling home carousel */
.carousel-container {
    width: 50%;
    padding-top: 150px;
}

.carousel-item a img:hover {
    cursor: pointer;
}

}

@media only screen and (min-width: 1282px) {

.home {
        background-image: url('../home/bg2.jpg');
        height: 650px;
        background-position: center;
        background-size: cover;
}    

/* styling home text */
.home-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.odosmarkettext {
    color: white;
    display: none;
}

.viewstoretext {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-top: 250px;
    width: 35%;
}

.viewstoretext-p {
    font-size: 43px;
    /* width: 100%; */
    padding-bottom: 25px;
    line-height: 50px;
}

.viewbutton a > button {
    padding: 12px 20px;
    border-radius: none;
    background-color: #B08A7B;
    font-size: 20px;
}
/* end of home text */

/* styling home carousel */
.carousel-container {
    width: 50%;
    padding-top: 200px;
}

/* .carousel-item a img {
    height: 100%;
    width: 100%;
} */

.carousel-item a img:hover {
    cursor: pointer;
}

/* .carousel-item a {
    width: 450;
    height: 350px;
} */
}

@media only screen and (min-width: 1400px) {
    
.home {
    height: 680px;
}

.viewstoretext-p {
        font-size: 50px;
        padding-bottom: 25px;
        line-height: 60px;
    }
}

@media only screen and (min-width: 1500px) {
    
    .home {
        height: 700px;
    }
    
    .viewstoretext-p {
            font-size: 55px;
            padding-bottom: 25px;
            line-height: 60px;
        }
    }
@media only screen and (min-width: 1600px) {
    
.home {
        height: 750px;
}    

.viewstoretext-p {
        font-size: 60px;
        padding-bottom: 25px;
        line-height: 70px;
    }
}

@media only screen and (min-width: 1700px) {
    
    .home {
            height: 800px;
    }    
    
    .viewstoretext-p {
            font-size: 63px;
            padding-bottom: 25px;
            line-height: 70px;
        }
    }

@media only screen and (min-width: 1800px) {
   
.home {
        height: 950px;
}   

.viewstoretext-p {
        font-size: 65px;
        padding-bottom: 25px;
        line-height: 80px;
    }

    .viewstoretext {
        color: white;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        margin-top: 300px;
        width: 35%;
    }    

    .carousel-container {
        width: 50%;
        padding-top: 250px;
    }
        
}


